html,body,header,nav,main,footer,div,ul,li,ol,input,textarea,button,span,a,img,p,h1,h2,h3,h4,h5,h6,form,dl,dt{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        
    }
.clearfix::before,.clearfix::after{
    content:"";
    clear:both;
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
}
input,textarea,button{
    outline-style: none;
    outline:none;
    -webtkit-appearance:none;
    border:none;
    resize:none;
}
ul,li{
    list-style: none;
}
a{  
    color:#333;
    text-decoration: none;
}
body{
    font-size:14px;
    font-family: "microsoft YaHei","sans-serif";
    color:#333;
}
img{
    vertical-align: middle;
}

/*公共样式*/
.am{
	margin: 0 auto;
	width:100%;
	min-width: 300px;
	max-width: 640px;	
}
/*头部开始*/
.am_header{
	width: 100%;
	height:90px;
	position: fixed;
	top: -1px;
	left: 0;	
	z-index: 1;
		
}

.header-box{
	width: 100%;
	height:90px;
	margin: 0 auto;
	min-width: 300px;
	max-width: 640px;
	background: #f8f9f6;
	box-shadow: 0 0px 1px gray;	
}
.header-box>div{
	width: 100%;			
	padding: 10px 40px 0 40px;
	position: relative;
	font-size: 14px;	
}
.header-box>div>a{
	color: #ff646c;
}
.login{	
	position: absolute;
	top: 5px;
	left: 4%;
}
.login i{	
	font-size: 24px;
}
.header-box>div>span{
	display:block;
	width: 60%;	
	margin:0 auto;
	border-radius: 10px;	
}
.header-box>div>span>a{
	display: inline-block;
	height: 24px;
	line-height: 22px;
	text-align: center;
	width: 50%;
	border: 1px solid #ff646c;
	
}
.header-box>div>span>a:first-child{	
	border-radius: 12px 0 0 12px;
}
.header-box>div>span>a:last-child{
	border-radius: 0 12px 12px 0;
}
.header-box>div>span>a.light{
	background: #ff646c;
	color: #FFFFFF;
}
.search{
	position: absolute;
	top: 5px;
	right: 4%;
}
.search i{
	font-size: 24px;
}
.header-nav{
	width: 100%;
	font-size: 16px;
	overflow: hidden;
	padding-top: 17px;
}
.header-nav>ul{
	width: 100%;
	position: relative;
}
.header-nav>ul>li{
	width: 32px;
	height:35px ;
}
.header-nav>ul>li:nth-child(1){
	position: absolute;
	top: 0;
	left: 10%;
}
.header-nav>ul>li:nth-child(2){	
	margin: 0 auto;	
}
.header-nav>ul>li:nth-child(3){
	position: absolute;
	top: 0;
	right: 10%;
}
.header-nav>ul>li>a{
	display: block;	
	width: 32px;
	height:35px ;
}
.header-nav>ul>li.light{
	border-bottom: 2px solid #FF646C;
	color:#FF646C;	
}

.header-nav>ul>li.light a{
	color: #FF646C;	
}
.box{
	width: 100%;
	height: 2000px;
	background:black ;
}
/*头部结束*/
/*分隔开始*/
.box1{
	width: 100%;
	height: 90px;	 	
}
/*分隔结束*/

/*banner轮播开始*/
.am_banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.am_banner ul{
	width: 800%;
	transform: translateX(-12.5%);
	-webkit-transform: translateX(-12.5%);
}
.am_banner ul li{
	width: 12.5%;
	float: left;
}
.am_banner ul li a{
	display: block;
	width: 100%;
}
.am_banner ul li a img{
	width: 100%;
	display: block;
}
.am_banner ul:last-child{
	width: 86px;
	height: 6px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -43px;
}
.am_banner ul:last-child li {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	border: 1px solid #fff;
	float: left;
}
.am_banner ul:last-child li+li{
	margin-left: 10px;
}
.am_banner ul:last-child li.now{
	background:#FFFFFF ;
}
/*banner轮播结束*/

/*以下div用于分隔*/

.box2{
	width: 100%;
	height: 59px;
}

/*footer部分开始*/
.am_footer{
	width: 100%;
	height: 60px;	
	position: fixed;
	bottom: -1px;
	left: 0;
	z-index: 1;
}
.am_footer_box{
	width: 100%;
	height: 60px;
	min-width: 300px;
	max-width: 640px;
	margin: 0 auto;
	background: #f8f9f6;
	box-shadow: 0 -1px 1px ghostwhite;
}
.am_footer_box ul{
	width: 100%;
	position: relative;
}
.am_footer_box ul li{
	width: 30px;	
	position: absolute;
	top: 5px;
	
}
.am_footer_box ul li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 13px;
	text-align: center;	
	
}
.am_footer_box>ul>li>a.light{
	color: #fb544f;
	/*font-weight: bold;*/
}
.am_footer_box ul li a i{
	font-size: 20px;	
}
.am_footer_box ul li:nth-child(1){
	left:10%;
	margin-left: -10px;
}
.am_footer_box ul li:nth-child(2){
	left:30%;
	margin-left: -10px;
}
.am_footer_box ul li:nth-child(3){
	left:50%;
	margin-left: -10px;
}
.am_footer_box ul li:nth-child(4){
	right:30%;
	margin-right: -10px;
}
.am_footer_box ul li:nth-child(5){
	right:10%;
	margin-right: -10px;
}
/*footer部分开始*/