<div class="detail">
	<div class="detail_top">
		<div>
			<img src="https://y.gtimg.cn/music/photo_new/T002R150x150M000{{data.songinfo.albummid}}.jpg?max_age=2592000"/>
			<div class="clearfix">
				<h3>{{data.songinfo.songname}}</h3><br/>
				<span ng-repeat="i in data.songinfo.singer">{{i.name}}</span> 
			</div>
		</div>
		<i class="iconfont icon-stop" ng-click="play()"></i>
	</div>
	<main>
		<div>
			<ul id="lyricTxt">
				<li ng-repeat="item in lyrics track by $index">{{item}}</li>
			</ul>			
		</div>
	</main>
</div>
<div class="bg_image" style="background-image: url(https://y.gtimg.cn/music/photo_new/T002R150x150M000{{data.songinfo.albummid}}.jpg?max_age=2592000)"></div>
<div class="bg_mask" style="opacity:0.9;"></div>
<video id="videoId" ng-src="{{trustSrc(daurl)}}" controls autoplay="autoplay" loop="loop" style="display:none;"></video>
<div class="detailPlay">
	<div class="jindu">
		<div class="color"><div draggable=true></div></div>	
	</div>
	<div class="currentTime">
		<span></span>
		<span>:</span>
		<span></span>
	</div>
	<div class="duration">
		<span>0</span>
		<span>:</span>
		<span></span>
	</div>
</div>
