<!--头部开始-->
			<header class="am_header">
				<div class="header-box">
					<div>
						<a href="#/login" class="login"><i class="iconfont icon-gerenzhongxin"></i></a>
						<span>
							<a href="#/homePage" class="light">精选</a><a href="#/shequ">社区</a>
						</span>
						<a href="#/search" class="search"><i class="iconfont icon-search"></i></a>
						<nav class="header-nav">
							<ul>
								<li class="light"><span>推荐</span></li>
								<li ><span>热门</span></li>
								<li ><span>好物</span></li>
							</ul>
						</nav>
					</div>
				</div>				
			</header>
			<!--头部结束-->			
		    <!--以下div用于分隔-->
			<div class="box1"></div>
			<!--banner开始-->
			<div class="am_banner">
				
					<ul class="clearfix">
						<li><a href="javascript:;"><img src="img/itb6.jpeg"/></a></li>
						<li><a href="javascript:;"><img src="img/itb1.jpeg"/></a></li>
						<li><a href="javascript:;"><img src="img/itb2.jpeg"/></a></li>
						<li><a href="javascript:;"><img src="img/itb3.jpeg"/></a></li>
						<li><a href="javascript:;"><img src="img/itb4.jpeg"/></a></li>
						<li><a href="javascript:;"><img src="img/itb5.jpeg"/></a></li>
						<li><a href="javascript:;"><img src="img/itb6.jpeg"/></a></li>
						<li><a href="javascript:;"><img src="img/itb1.jpeg"/></a></li>
					</ul>
					<ul>
						<li class="now"></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>				
			</div>
			<!--banner结束-->
			<main class="hp_main">
				<!--推荐开始-->
				<div class="hp_main_box">
					<div class="am_index_main">
						<ul>
							<li ng-repeat="item in topList" class="clearfix">
								<a href="#/list/{{item.id}}">
									<img src=" {{item.picUrl}}"/>
									<h3>{{item.topTitle}}</h3>
									<span>
										<span ng-repeat='i in item.songList'>
											{{i.songname}} - {{i.singername}}
									    </span>
									</span>									
								</a>									
							</li>
						</ul>
						<!--https://y.qq.com/w/toplist.html?ADTAG=myqq&from=myqq&channel=10007100&id=4&type=top-->
						<!--https://y.qq.com/w/toplist.html?ADTAG=myqq&from=myqq&channel=10007100&id=26&type=top-->
					</div>
					<!--推荐结束-->
					<!--热门开始-->
					<div class="remen" id="remen">
						<ul class="clearfix">
							<li ng-repeat="item in artists">
								<a href="#/hotsongs/{{item.name}}">
									<img src="{{item.img1v1Url}}"/>
						            <p>{{item.name}}</p>
								</a>
							</li>
						</ul>	
					</div>
					<!--热门结束-->
					<!--好物开始-->
					<div class="am_index_haowu">
						<p>最热推荐</p>
						<ul class="clearfix">
							<li>
								<a href="https://detail.m.tmall.com/item.htm?id=542509372152">
									<img src="img/haowu_img5.png"/>
									<div>
										<span>GEEK智能电吉他</span>
										<span>￥1799</span>
										<span>原价 ￥1999</span>
										<span>点击<br>购买</span>
									</div>
								</a>
							</li>		
							<li>
								<a href="https://detail.m.tmall.com/item.htm?id=520552872161&cat_id=2&rn=57481895107121211210007117f77204&user_id=1674167031&is_b=1">
									<img src="img/haowu_img2.png"/>
									<div>
										<span>GEEK只能小吉他</span>
										<span>￥588</span>
										<span>原价 ￥698</span>
										<span>点击<br>购买</span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://www.tan8.com/codeindex.php?d=web&c=product&m=electric_guitar">
									<img src="img/haowu_img3.png"/>
									<div>
										<span>GEEK智能木吉他</span>
										<span>￥1088</span>
										<span>原价 ￥1188</span>
										<span>点击<br>购买</span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://www.tan8.com/codeindex.php?d=web&c=product&m=smart_piano">
									<img src="img/haowu_img1.png"/>
									<div>
										<span>GEEK只能钢琴</span>
										<span>￥3999</span>
										<span>原价 ￥4299</span>
										<span>点击<br>购买</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<!--好物结束-->
				</div>
				
			</main>
			<div class="box2"></div>
			<footer class="am_footer">
				<div class="am_footer_box">
					<ul>
						<li>
							<a href="#/find" class="light">
								<i class="iconfont icon-compass"></i>
							    <p>发现</p>
							</a>
							
						</li>
						<li>
							<a href="#/library">
								<i class="iconfont icon-iconfontbiaozhunmoban01
play
"></i>
							    <p>谱库</p>
							</a>
							
						</li>
						<li>
							<a href="#/classroom">
								<i class="iconfont icon-play"></i>
								<p>课堂</p>
							</a>
							
						</li>
						<li>
							<a href="#/tool">
								<i class="iconfont icon-wxbgongju"></i>
								<p>工具</p>
							</a>
							
						</li>
						<li>
							<a href="#/login">
								<i class="iconfont icon-account"></i>
								<p>我的</p>
							</a>							
						</li>
					</ul>
				</div>
			</footer>