<div class="serach_result hotsongs">
	<a href="javascript:;"  class="search_tit">
	    <div>
			<img src="https://y.gtimg.cn/music/photo_new/T001R68x68M000{{zhida.singermid}}.jpg?max_age=2592000" alt="" />
		    <h3>{{keyword}}</h3>
		 	<span>单曲：{{zhida.songnum}}</span>
		    <span>专辑：{{zhida.albumnum}}</span>
		</div>
    </a>
	<a href="#/detail/{{i.songid}}" ng-repeat="i in list" class="single">
		<i class="iconfont icon-iconfontbiaozhunmoban01"></i>
		<h3>{{i.songname}}</h3>
		<span ng-repeat="j in i.singer">{{j.name}}</span>
	</a>
</div>
<div class="rocket">
	<img src="img/Top.jpg" />
</div>