<div class="am_search">
			<header class="am_search_header">
				<div class="search_box">
					<form ng-submit="search()">
						<i class="iconfont icon-search"></i>
					    <input type="text" placeholder="搜索钢琴谱，吉他谱，帖子" ng-model="word" class="inp_search"/>
					    <span class="btn_search">搜索</span>
					</form>
					<nav class="am_search_nav">
						<ul class="clearfix">
							<li>
								<a href="javascript:;">钢琴谱</a>
							</li>
							<li>
								<a href="javascript:;">吉他谱</a>
							</li>
							<li>
								<a href="javascript:;">尤克里里谱</a>
							</li>
							<li>
								<a href="javascript:;">古筝谱</a>
							</li>
							<li>
								<a href="javascript:;">琵琶谱</a>
							</li>
							<li>
								<a href="javascript:;">二胡谱</a>
							</li>
							<li>
								<a href="javascript:;">帖子</a>
							</li>
							<li>
								<a href="javascript:;">用户</a>
							</li>
							<li>
								<a href="javascript:;">音乐人</a>
							</li>
							<li>
								<a href="javascript:;">课堂</a>
							</li>
						</ul>
					</nav>
				</div>
				
			</header>
			<!--头部结束-->
			<!--以下div用于分隔-->
			<div class="box3"></div>
			<!--历史记录开始-->
			<!--<div>
			    <p>更多历史记录</p>
			</div>-->
			<!--历史记录结束-->
			<!--热门搜索开始-->
			    <div class="hot_search ">
			    	<p>
			    		<i class="iconfont icon-search"></i>
			    		<span>热门搜索</span>
			    	</p>
			    	<ul>
			    		<li ng-repeat="item in data.hotkey" ng-click="hotSearch(item.k)">
			    			<span>{{item.k}}</span>			    			
			    		</li>
			    	</ul>
			    </div>
			    
			<!--热门搜索结束-->
			<!--搜索结果-->
			    <div class="serach_result jiazai">
			    	<a href="javascript:;" ng-if="ngif" class="search_tit">
				    	<div>
				    		<img src="https://y.gtimg.cn/music/photo_new/T001R68x68M000{{zhida.singermid}}.jpg?max_age=2592000"/>
				    		<h3>{{keyword}}</h3>
				    		<span>单曲：{{zhida.songnum}}</span>
				    		<span>专辑：{{zhida.albumnum}}</span>				    		
				    	</div>
				    </a>
				    <a href="#/detail/{{i.songid}}" ng-repeat="i in list" class="single">
				    	<i class="iconfont icon-iconfontbiaozhunmoban01"></i>
				    	<h3>{{i.songname}}</h3>
				    	<span ng-repeat="j in i.singer">{{j.name}}</span>
				    </a>
			    </div>			    			    
			<!--搜索结果结束-->
			<div class="rocket">
			    <img src="img/Top.jpg" />
			</div>
		</div>