/*搜索页开始*/
.am_search{
	width: 100%;
	min-width: 300px;
	max-width: 640px;
	transition: all 0.5s;
	-webkit-transition:all 0.5s;
}
/*搜索页头部开始*/
/*搜索页头部表单部分开始*/
.am_search_header{
	width: 100%;	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.search_box{
	width: 100%;	
	min-width: 300px;
	max-width: 640px;
	background: #FF646C;
	margin: 0 auto;
}
.search_box>form{
	width: 100%;
	position: relative;
	padding:7px 50px 7px 10px ;
}
.search_box>form i{	
	position: absolute;
	font-size:12px ;
	top: 14px;
	left:18px;
}
.search_box>form input{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-radius:5px;
	padding-left:30px;
	font-size: 12px;	
}
.search_box>form span{
	display: block;
	background: #FF646C;
	position: absolute;
	top: 10px;
	right: 0px;
	width: 50px;
	text-align: center;
	color: #FFF
}
/*搜索页头部表单部分结束*/

/*搜索页nav开始*/
.am_search_nav{
	width: 100%;	
	overflow: hidden;
	height: 40px;
	background: #f8f9f6;
}
.am_search_nav ul{
	height:40px;
	width: 750px;	
}
.am_search_nav ul li{
	height: 40px;
	line-height: 40px;
	float: left;	
	font-size: 15px;
}
.am_search_nav ul li a{	
	height: 40px;
	display: block;
	padding: 0 15px;	
	color:#848484;
}

.box3{
	height: 84px;
}

/*热门搜索*/
.hot_search{
	width: 100%;
	height: 484px;
	/*margin-top: 10px;*/
	font-size: 14px;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition:all 0.5s;	
}
.hot_search p{	
	padding: 8px 0 8px 15px;	
	margin-bottom: 5px;
}
.hot_search p i.iconfont{
	display:inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #FF646C;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	margin-right:5px ;
}
.hot_search ul{
	width: 100%;
	padding: 0 15px;
}
.hot_search li{
	display: inline-block;
	padding:8px;
	border: 1px solid #848484;
	border-radius: 20px;
	margin: 0 0 10px 15px;	
}
.hot_search li span{
	color: rgba(0,0,0,0.7);
	font-weight: bold;
}
.hot_search ul li:first-child{
	border: 1px solid #FF646C;
}
.hot_search ul li:first-child span{
	color:#FF646C ;
}

/*搜索结果*/
.serach_result{
	width: 100%;	
	display: none;
	background: #fff;			
}
.serach_result .search_tit{	
	display: block;
	width: 100%;
	padding: 10px 0;	
	border-bottom: 1px solid #e5e5e5;
}
.serach_result .search_tit div{
	padding-left: 56px;
	word-spacing: 10px;
	position: relative;	
}
.serach_result .search_tit div img{
	position: absolute;
	top: 0px;
	left: 5px;
	width: 46px;
	height: 46px;
	border-radius: 23px;
}
.serach_result .search_tit div h3{
	font-size: 18px;
}
.serach_result .search_tit div span{
	font-size: 12px;
	font-weight: bold;
	color: #808080;
}
.serach_result .single{
	display: block;	
	position: relative;	
	padding:5px 10px 5px 56px;
	border-bottom: 1px solid #e5e5e5;
	animation: he 0.8s linear;
}
@keyframes he{
	from{
		opacity: 0;
		transform: translateY(-999999999px) translateX(-999999999px);
	}			 
	to{
		opacity: 1;
		transform: translateY(0) translateX(0);
	 }
}
@-webkit-keyframes he{
	from{
		opacity: 0;
		transform: translateY(-999999999px) translateX(-999999999px);
	}			 
	to{
		opacity: 1;
		transform: translateY(0) translateX(0);
	 }
}
.serach_result .single i{
	display: block;
	width: 56px;
	text-align: center;
	font-size: 30px;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 56px;
}
.serach_result .single h3{
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}
.serach_result .single span{
	display: inline-block;
	margin-right:8px ;
	font-size: 12px;
	font-weight: bold;
	color: #808080;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*小火箭*/
.rocket{
	position: fixed;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
	bottom: 20px;
	right: 20px;
	text-align: center;
	display: none;
}
.rocket img{
	width: 16px;
	height: 32px;
	margin-top: 4px;	
}
